* {
  padding: 0em;
  margin: 0em;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Rubik", sans-serif;
  background-color: hsl(226, 43%, 10%);
  color: white;
}

main {
  display: grid;
  place-items: center;
}
.container {
  display: grid;
  column-gap: 1.5em;
  row-gap: 1.5em;
  grid-template-columns: 13em 13em 13em 13em;
  grid-template-rows: 10em 10em;
  grid-template-areas: "profile work play study" "profile exercise social selfcare";
}
.profile-card {
  background-color: hsl(235, 46%, 20%);
  grid-area: profile;
  border-radius: 10px;
}
.profile-content {
  background-color: hsl(246, 80%, 60%);
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "profile-image" "profile-details";
}
.profile-name {
  font-size: 2em;
  font-weight: 300;
}
.profile-details {
  grid-area: profile-details;
  margin-left: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 2em;
}
.profile-report {
  font-size: 0.7em;
  opacity: 0.5;
}
.profile-image {
  width: 3em;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: 1.5em;
  margin-left: 1.5em;
}

.report-options {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "option-daily"
    "option-weekly"
    "option-monthly";
  margin-top: 0.7em;
  margin-left: 1.5em;
}

.option-daily {
  grid-area: option-daily;
  margin: 0.5em 0em;
  color: hsl(236, 100%, 87%);
}
.option-weekly {
  grid-area: option-weekly;
  margin: 0.5em 0em;
  color: hsl(236, 100%, 87%);
}

.option-monthly {
  grid-area: option-monthly;
  margin: 0.5em 0em;
  color: hsl(236, 100%, 87%);
}

.active,
.option-daily:hover,
.option-monthly:hover,
.option-weekly:hover {
  color: white;
  cursor: pointer;
}
.card {
  border-radius: 10px;
  display: flex;
  align-items: stretch;
  position: relative;
  z-index: 1;
}

.card-icon {
  position: absolute;
  right: 1em;
  top: 0em;
  width: 3em;
  height: 3em;
  z-index: 2;
}

.card-content {
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
  margin-top: 2em;
  width: 100%;
  margin-bottom: 0em;
  z-index: 3;
}
.card-content:hover {
  background-color: hsl(237, 37%, 47%);
}

.title-section {
  margin: 1em;
  position: relative;
}
.title-section > img {
  width: 1em;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -90%);
}
.title-section > .title {
  font-weight: bold;
}
.work-card {
  background-color: hsl(15, 100%, 70%);
  grid-area: work;
}
.play-card {
  background-color: hsl(195, 74%, 62%);
  grid-area: play;
}
.study-card {
  background-color: hsl(348, 100%, 68%);
  grid-area: study;
}

.exercise-card {
  background-color: hsl(145, 58%, 55%);
  grid-area: exercise;
}
.social-card {
  background-color: hsl(264, 64%, 52%);
  grid-area: social;
}
.selfcare-card {
  background-color: hsl(43, 84%, 65%);
  grid-area: selfcare;
}

.time-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "current-time-container"
    "prevTime";
}
.current-time-container {
  grid-area: current-time-container;
  margin-top: 0.4em;
  margin-left: 1em;
  margin-bottom: 0.1em;
}

.current-time-container > span {
  font-size: 2.2em;
}
.old-time-spent {
  grid-area: prevTime;
  margin: 0em 1.5em;
  font-size: 0.7em;
  font-weight: bold;
  color: hsl(236, 100%, 87%);
}
@media screen and (max-width: 550px) {
  .container {
    margin: 2em 0em;
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-columns: 16em;
    grid-template-rows: auto 8em 8em 8em 8em 8em 8em;
    grid-template-areas: "profile" "work" "play" "study" "exercise" "social" "selfcare";
  }

  .time-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "current-time-container prevTime";
    row-gap: 1em;
  }
  .report-options {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    grid-template-areas: "option-daily option-weekly option-monthly";
    margin-top: 0.7em;
    margin-left: 1.5em;
  }
  .current-time-container > span {
    font-size: 1.5em;
  }
  .current-time-container {
    margin-top: 0em;
    margin-bottom: 0em;
  }
  .old-time-spent {
    margin: auto;
  }

  .profile-content {
    background-color: hsl(246, 80%, 60%);
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: "profile-image profile-details";
  }
  .profile-name {
    font-size: 1em;
    font-weight: 300;
  }

  .profile-image {
    margin-top: 1em;
    margin-left: 1em;
  }

  .profile-details {
    margin-left: 0;
  }
}
